<ul>       
<li>Name: {{ card.name|upper }}</li> 
<li>Category: {{ card.category.name }}  </li>
<li>Attack: {{ card.attack }}</li>     
<li>Mana: {{ card.mana }}  </li>
<li>HP: {{ card.hp }}  </li>
<li>Image: {{ card.image }}</li>


</ul>
{{ form(form) }}

<a href = "/user">Revenir à la liste des cartes</a>
</div>



