{% extends 'base.html.twig' %}



{% block body %}

<br>
<h1>Liste des cartes</h1>
<br>


<div class = "container" style = "display: flex; flex-wrap: wrap;">
{% for card in cardList %}
<div class="card" style="width: 18rem; margin-left: 5%; background-color: black; color: white;">
<h2 style = "text-align: center;"><strong>{{ card.name }}</strong></h2>
    <p style = "text-align: center;">by {{ card.getUser.name }}</p>
  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSz3oe7au6Voj7bwkAdVqEhbemBlvOSDNsybGBb-1nN_q4gPhB3" alt="Card image cap">
  <div class="card-body">
    <h3 style = "text-align: center;" class="card-text">{{ card.category.name }}</h3><br>
    <div class = "stats" style = "text-align: center;">
        <p id = "attack">{{ card.attack }}</p>
        <p id = "strike">{{ card.strike }}</p>
        <p id = "pv">{{ card.hp }}</p>
    </div>
  </div>
</div>
{% endfor %}
</div>


{% endblock %}
